[submodule "home/.gdb/peda"]
	path = home/.gdb/peda
	url = https://github.com/longld/peda
	ignore = dirty
	ignore = dirty
[submodule "home/Util/zsh-completions"]
	path = home/Util/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "home/.tmux/plugins/tmux-copycat"]
	path = home/.tmux/plugins/tmux-copycat
	url = https://git::@github.com/tmux-plugins/tmux-copycat
[submodule "home/.tmux/plugins/tmux-resurrect"]
	path = home/.tmux/plugins/tmux-resurrect
	url = https://git::@github.com/tmux-plugins/tmux-resurrect
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://git::@github.com/tmux-plugins/tpm
