[submodule "home/.vim/bundle/vim-jsbeautify"]
	path = home/.vim/bundle/vim-jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify
[submodule "home/.vim/bundle/vim-rails"]
	path = home/.vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule "home/.vim/bundle/ghcmod-vim"]
	path = home/.vim/bundle/ghcmod-vim
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "home/.vim/bundle/neco-ghc"]
	path = home/.vim/bundle/neco-ghc
	url = https://github.com/ujihisa/neco-ghc.git
[submodule "home/.vim/bundle/vundle"]
	path = home/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle
	ignore = dirty
[submodule "home/.vim/bundle/syntastic"]
	path = home/.vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "home/.vim/bundle/nginx-vim-syntax"]
	path = home/.vim/bundle/nginx-vim-syntax
	url = https://github.com/evanmiller/nginx-vim-syntax
[submodule "home/.vim/bundle/css3-syntax"]
	path = home/.vim/bundle/css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax
[submodule "home/.vim/bundle/jade"]
	path = home/.vim/bundle/jade
	url = https://github.com/digitaltoad/vim-jade
[submodule "home/.vim/bundle/slim"]
	path = home/.vim/bundle/slim
	url = https://github.com/bbommarito/vim-slim
[submodule "home/.vim/bundle/coffee-script"]
	path = home/.vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "home/.vim/bundle/stylus"]
	path = home/.vim/bundle/stylus
	url = https://github.com/wavded/vim-stylus
[submodule "home/.vim/bundle/UltiSnips"]
	path = home/.vim/bundle/UltiSnips
	url = https://github.com/vim-scripts/UltiSnips.git
[submodule "home/.vim/bundle/matchit"]
	path = home/.vim/bundle/matchit
	url = https://github.com/tsaleh/vim-matchit
	ignore = dirty
[submodule "home/.vim/bundle/Tabular"]
	path = home/.vim/bundle/Tabular
	url = https://github.com/godlygeek/tabular
[submodule "home/.vim/bundle/pytest.vim"]
	path = home/.vim/bundle/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim
[submodule "home/.vim/bundle/nerdtree"]
	path = home/.vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree/
[submodule "home/.vim/bundle/jedi"]
	path = home/.vim/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim
[submodule "home/.vim/bundle/vim-PinyinSearch"]
	path = home/.vim/bundle/vim-PinyinSearch
	url = https://github.com/ppwwyyxx/vim-PinyinSearch
[submodule "home/.vim/bundle/EasyMotion"]
	path = home/.vim/bundle/EasyMotion
	url = https://github.com/vim-scripts/EasyMotion.git
[submodule "home/.vim/bundle/YankRing.vim"]
	path = home/.vim/bundle/YankRing.vim
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "home/.vim/bundle/YankRing"]
	path = home/.vim/bundle/YankRing
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "home/.vim/bundle/clang_complete"]
	path = home/.vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "home/.vim/bundle/vim-ruby"]
	path = home/.vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "home/.vim/bundle/python-mode"]
	path = home/.vim/bundle/python-mode
	url = https://github.com/klen/python-mode
[submodule "home/.vim/bundle/vimfiler"]
	path = home/.vim/bundle/vimfiler
	url = https://github.com/Shougo/vimfiler
[submodule "home/.vim/bundle/vim-javascript-syntax"]
	path = home/.vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule "home/.vim/bundle/colorv.vim"]
	path = home/.vim/bundle/colorv.vim
	url = https://github.com/Rykka/colorv.vim
[submodule "home/.vim/bundle/unite-outline"]
	path = home/.vim/bundle/unite-outline
	url = https://github.com/h1mesuke/unite-outline
[submodule "home/.vim/bundle/vim-unimpaired"]
	path = home/.vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "home/.vim/bundle/gundo"]
	path = home/.vim/bundle/gundo
	url = https://github.com/sjl/gundo.vim
[submodule "home/.vim/bundle/ag"]
	path = home/.vim/bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "home/.vim/bundle/vim2hs"]
	path = home/.vim/bundle/vim2hs
	url = https://github.com/dag/vim2hs
[submodule "home/.vim/bundle/dispatch"]
	path = home/.vim/bundle/dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule "home/.vim/bundle/YouCompleteMe"]
	path = home/.vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "home/.vim/bundle/jsbeautify"]
	path = home/.vim/bundle/jsbeautify
	url = https://github.com/maksimr/vim-jsbeautify.git
	ignore = dirty
[submodule "home/.vim/bundle/R-plugin"]
	path = home/.vim/bundle/R-plugin
	url = https://github.com/jcfaria/Vim-R-plugin
[submodule "home/.vim/bundle/LaTeX-Box"]
	path = home/.vim/bundle/LaTeX-Box
	url = https://github.com/LaTeX-Box-Team/LaTeX-Box
[submodule "home/.vim/bundle/VisIncr"]
	path = home/.vim/bundle/VisIncr
	url = https://github.com/vim-scripts/VisIncr
[submodule "home/.vim/bundle/startify"]
	path = home/.vim/bundle/startify
	url = https://github.com/mhinz/vim-startify
[submodule "home/.vim/bundle/markdown"]
	path = home/.vim/bundle/markdown
	url = https://github.com/tpope/vim-markdown
[submodule "home/.vim/bundle/splitjoin"]
	path = home/.vim/bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule "home/.gdb/peda"]
	path = home/.gdb/peda
	url = https://github.com/longld/peda
[submodule "home/.vim/bundle/vimside"]
	path = home/.vim/bundle/vimside
	url = https://github.com/megaannum/vimside
	ignore = dirty
[submodule "home/.vim/bundle/vimproc"]
	path = home/.vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc
	ignore = dirty
[submodule "home/.vim/bundle/javascript"]
	path = home/.vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "home/.vim/bundle/emmet"]
	path = home/.vim/bundle/emmet
	url = https://github.com/mattn/emmet-vim
[submodule "home/.vim/bundle/rails"]
	path = home/.vim/bundle/rails
	url = https://github.com/tpope/vim-rails
[submodule "home/.vim/bundle/commentary"]
	path = home/.vim/bundle/commentary
	url = https://github.com/tpope/vim-commentary
[submodule "home/.vim/bundle/eunuch"]
	path = home/.vim/bundle/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "home/.vim/bundle/coloresque"]
	path = home/.vim/bundle/coloresque
	url = https://github.com/gorodinskiy/vim-coloresque
[submodule "home/.vim/bundle/ZoomWin"]
	path = home/.vim/bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin
[submodule "home/.vim/bundle/surfer"]
	path = home/.vim/bundle/surfer
	url = https://github.com/gcmt/surfer.vim
[submodule "home/Util/zsh-completions"]
	path = home/Util/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
