\#*#
*~
*.log
*.pyc
tags
/home/.ncmpcpp/artists
/home/.mutt/cache
/home/.mutt/profile
/etc/portage/package.use/cross-*
._cfg*
/home/.local/share/applications/mimeinfo.cache
/home/.local/share/applications/wine*
/home/.config/newsbeuter/profile
/home/.config/newsbeuter/urls
/home/.config/gtk-3.0/bookmarks
/home/.config/xmonad/xmonad.hi
/home/.config/xmonad/xmonad.o
/home/.emacs.d/abbrev_defs
/home/.emacs.d/bookmarks
/home/.emacs.d/elpa
/home/.emacs.d/eshell
/home/.emacs.d/ido.last
/home/.emacs.d/irony
/home/.emacs.d/helm-history
/home/.emacs.d/recentf
/home/.emacs.d/backups
/home/.emacs.d/auto-save-list
/home/.emacs.d/places
/home/.emacs.d/projectile*
/home/.emacs.d/url
/home/.emacs.d/.*
/home/.tmux/resurrect
/etc/portage/profile/package.use.force
/etc/portage/profile/package.use.mask
/etc/portage/env/cross-*
