[submodule "home/.gdb/peda"]
	path = home/.gdb/peda
	url = https://github.com/longld/peda
	ignore = dirty
	ignore = dirty
[submodule "home/Util/zsh-completions"]
	path = home/Util/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "home/.tmux/plugins/tpm"]
	path = home/.tmux/plugins/tpm
	url = https://git::@github.com/tmux-plugins/tpm
[submodule "home/Util/fisher"]
	path = home/Util/fisher
	url = https://github.com/jorgebucaran/fisher
[submodule "home/Util/z.lua"]
	path = home/Util/z.lua
	url = https://github.com/skywind3000/z.lua
