set meta-flag on
set input-meta on
set output-meta on
set convert-meta off

set bell-style none

set completion-ignore-case on
set completion-map-case on
set completion-prefix-display-length 2
set skip-completed-text on

set visible-stats on

set show-all-if-ambiguous on
set show-all-if-unmodified on

"\C-n": history-search-forward
"\C-p": history-search-backward

set keymap vi-insert
"\C-a": vi-insert-beg
"\C-b": backward-char
"\C-e": end-of-line
"\C-f": forward-char
"\C-k": kill-line
"\e.":  yank-last-arg
"\ef":  vi-next-word
"\eb":  vi-prev-word
"\ep":  previous-history
"\en":  next-history
"\e&":  tilde-expand
"\e.-C"  capitalize-word

set keymap vi-command
"qq": start-kbd-macro
"qe": end-kbd-macro
"Q":  call-last-kbd-macro

# ipython
set editing-mode emacs
