! color theme shared by xterm.vt100 & urxvt
! tvale
xterm*background: #000000
xterm*foreground: #FFFFFF
!black
*color0 : #222222
*color8 : #454545
!red
*color1 : #B22222
*color9 : #FA8072
!green
*color2 : #556B2F
*color10: #9ACD32
!yellow
*color3 : #B8860B
*color11: #DAA520
!blue
*color4 : #4682B4
*color12: #6495ED
!magenta
*color5 : #9932CC
*color13: #DA70D6
!cyan
*color6 : #87CEEB
*color14: #B0E0E6
!white
*color7 : #C0C0C0
*color15: #FFFFFF

Xft.dpi:                96
Xft.autohint:  0
Xft.lcdfilter:  lcddefault
Xft.hinting:            1
Xft.hintstyle:          hintslight
Xft.antialias:          1
Xft.rgba:               rgb

! Application Resources
xterm.locale: true
xterm.termName: xterm-256color
xterm.utmpInhibit: true

! VT100 Widget Resources
xterm*allowTitleOps:  false
xterm*altSendsEscape: true
xterm*bellIsUrgent: true
xterm*borderLess: true
! allow selecting email/url by double click
xterm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48
xterm*colorBD: wheat
xterm*colorBDMode: true
xterm*colorUL: green
xterm*colorULMode: false
xterm*cursorBlink: false
xterm*cursorColor: green
xterm*cursorUnderLine: False
xterm*eightBitInput: false
! uncomment to output a summary of each font s metrics
!xterm.reportFonts: true
xterm*faceName: DejaVu Sans Mono:size=18
xterm*faceNameDoublesize: Source Han Sans TC Normal:size=18
xterm*fastScroll: true
xterm*highlightSelection: true
XTerm*jumpScroll: true
xterm*loginshell: true
XTerm*multiScroll: true
xterm*printAttributes: 2
xterm*printerCommand: xterm -T History -e sh -c 'less -r -o /tmp/xterm.dump <&3' 3<&0
xterm*rightScrollBar: true
xterm*saveLines: 10000
xterm*scrollBar: false
xterm*trimSelection: true
xterm*veryBoldColors: 4
xterm*xftAntialias: true

xterm.vt100.translations: #override \
    ~Shift ~Ctrl<Btn2Up>: insert-selection(PRIMARY) \n\
    Ctrl ~Shift <KeyPress>Insert: insert-selection(CLIPBOARD) \n\
    ~Ctrl ~Meta ~Shift <BtnUp>: select-end(CLIPBOARD,PRIMARY,CUT_BUFFER0) \n\
    Meta <KeyPress>/: dabbrev-expand() \n\
    Meta <KeyPress>i: print-everything() \n\
    Meta <KeyPress>o: exec-formatted("xdg-open '%t'", PRIMARY) \n\


URxvt.preeditType: Root
!URxvt.inputMethod: fcitx
!URxvt.imFont: -misc-wenquanyi micro hei-medium-r-normal--0-0-0-0-p-0-gb18030.2000-0
URxvt.geometry: 105x45
URxvt.xftAntialias: true
!URxvt.font: xft:Monaco:bold:size=13,xft:DejaVu Sans Mono:bold:size=13,xft:WenQuanYi Micro Hei:bold:antialias=True
!URxvt.font: xft:Monaco:bold:size=13,xft:DejaVu Sans Mono:bold:size=13,xft:微軟正黑體:bold:antialias=True
URxvt.font: xft:Monaco:bold:size=15,xft:DejaVu Sans Mono:bold:size=15,xft:微軟正黑體:bold:antialias=True
!URxvt.font: xft:DejaVu Sans Mono:bold:size=14,xft:思源黑体:bold:antialias=True
URxvt.searchable-scrollback: false
URxvt.iso14755: false

URxvt.perl-lib: /home/ray/.local/src/urxvt-perls
URxvt.perl-ext:      default,keyboard-select,url-select,clipboard
URxvt.keysym.M-u:    perl:url-select:select_next
URxvt.url-select.launcher: xdg-open
URxvt.url-select.underline: true
URxvt.url-select.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-bracketleft: perl:keyboard-select:activate

URxvt.cutchars: `"()'*<>[]{|}"

URxvt.colorBD:			yellow
URxvt.colorUL:			green
URxvt.blurRadius:		5

URxvt.scrollBar: true
URxvt.scrollBar_right: true
URxvt.scrollBar_floating: true

URxvt.saveLines: 1234
URxvt.depth: 32
URxvt.background: black
URxvt.foreground: white
URxvt.cursorBlink: False
URxvt.cursorColor: green
URxvt.iso14755_52: False
URxvt.urgentOnBell: true

Xcursor.theme: ~/.icons/Pulse-Glass
Xcursor.size: 32

x11-ssh-askpass*background:             #000000
x11-ssh-askpass*foreground:             #ffffff
x11-ssh-askpass.Button*background:      #000000
x11-ssh-askpass.Indicator*foreground:   #ff9900
x11-ssh-askpass.Indicator*background:   #090909
x11-ssh-askpass*topShadowColor:         #000000
x11-ssh-askpass*bottomShadowColor:      #000000
x11-ssh-askpass.*borderWidth:           1

! resource names can be retrieved from ~/.xscreensaver
xscreensaver.timeout: 3
xscreensaver.lock: true
xscreensaver.lockTimeout: 5
xscreensaver.mode: blank
