snippet py2
#!/usr/bin/env python2
# -*- coding: utf-8 -*-
from __future__ import absolute_import, division, print_function, unicode_literals
from builtins import *

$0
endsnippet

snippet py3
#!/usr/bin/env python3

$0
endsnippet

snippet main
if __name__ == '__main__':
	main()
endsnippet
