[Desktop Entry]
Name=gVim
Comment=A highly configurable text editor
Exec=gvim --remote-tab-silent %F
Icon=gvim
Terminal=false
Type=Application
MimeType=text/plain;inode/x-empty
Categories=Development;
