[Unit]
Description=Kmscon on %I
After=systemd-user-sessions.service
Before=getty.target
IgnoreOnIsolate=yes

[Service]
ExecStart=-/usr/local/bin/kmscon --vt=tty3 --no-switchvt --xkb-options ctrl:nocaps --hwaccel
Type=idle
Restart=always
RestartSec=0

[Install]
Alias=getty.target.wants/kmscon@tty3.service
