[Unit]
Description=Input Method Framwork on display %i
Documentation=man:fcitx(1)

[Service]
Environment=DISPLAY=:%i
Environment=XMODIFIERS=@im=fcitx
Environment=XIM=fcitx
Environment=XIM_PROGRAM=fcitx
Environment=GTK_IM_MODULE=fcitx
Environment=QT_IM_MODULE=fcitx
ExecStart=/usr/bin/fcitx -D

[Install]
WantedBy=graphical.target
