[Unit]
Description=keynav
Documentation=man:keynav(1)

[Service]
Environment=DISPLAY=:%i
ExecStart=/home/ray/.local/bin/keynav

[Install]
WantedBy=graphical.target
