[Unit]
Description=Notification on new mail and index with notmuch

[Service]
Environment=DISPLAY=:%i
ExecStart=/home/ray/bin/mail-inotify
RestartSec=600

[Install]
WantedBy=graphical.target
