[Unit]
Description=Mojo-WebQQ
Documentation=https://github.com/sjdy521/Mojo-Webqq

[Service]
Environment=PERL5LIB=/home/ray/perl5/lib/perl5
ExecStart=/usr/bin/perl -MMojo::Webqq -e 'Mojo::Webqq->new(qq=>2381997267)->login->load("ShowMsg")->load("IRCShell",data=>{listen=>[{host=>"127.0.0.1",port=>6668}], load_friend=>1})->run()'

[Install]
WantedBy=graphical.target
