[Unit]
Description=Disable Screen Blanking
Documentation=man:xset(1)

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/xset s 0 0
ExecStart=/usr/bin/xset s noblank
ExecStart=/usr/bin/xset -dpms
ExecStop=/usr/bin/xset s 600 600
ExecStop=/usr/bin/xset s blank
ExecStop=/usr/bin/xset +dpms

[Install]
WantedBy=graphical.target
