[Unit]
Description=notify-client -> notify-server -> notify-send

[Service]
ExecStart=/home/ray/bin/notify-server

[Install]
WantedBy=graphical.target
