[Unit]
Description=Redshift display colour temperature adjustment (GUI)
Documentation=http://jonls.dk/redshift/
After=display-manager.service

[Service]
Environment=DISPLAY=:%i
ExecStart=/usr/bin/redshift-gtk

[Install]
WantedBy=graphical.target
