[Unit]
Description=Combine Ctrl+Escape
Documentation=man:xcape(1) https://github.com/alols/xcape
After=graphical.target

[Service]
Type=forking
ExecStart=/usr/bin/xcape -e "Control_L=Escape;Hyper_L=Tab;Hyper_R=backslash"
Restart=always

[Install]
WantedBy=graphical.target
